body {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    height: 100vh; 
    width: 100vw;
    min-width: 30vw;
    border: 1px solid;
    color: #BB99DD;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

/* IMAGE AND INSTAGRAM */
header {
    height: 28vh; 
    width: 17vw;    
    /* min-width: 10vw; */
    display: flex;
    flex-shrink: 2;
    flex-wrap: wrap;
    justify-content: center;
    align-content:space-around;
    border: 1px solid;
    background-color: aquamarine;
}

.Picture {
    width: 70%;
    height: 70%;
    /* padding: 5px; */
    border: 3px solid #BB99DD;
    border-radius: 100%;
}

.Imagem {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

header > p {
    font-weight: 300;
}


/* LINKS */

main {
    font-weight: 600;
    font-size: 20px;
    height: 40vh;
    width: 20vw;
    min-width: 12.5rem;
    display: flex;
    flex-shrink: 2;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    background-color: aquamarine;
}

main > a {
    text-decoration: none;
    color: #BB99DD;
    width: 17rem;
    height: 2.5rem;
    border: 2px solid;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ICONS */

footer {
    width: 10rem;
    height: 3rem;
    margin-top: 2%;
    display: flex;
    flex-shrink: 1;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid;
    background-color: aquamarine;
}
