body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    height: 900px;
    width: 1440px;
    min-width: 375px;
    border: 1px solid;
    color: #BB99DD;
}

.Conteudo {
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    text-align: center;
    align-items: center;
}


/* IMAGE AND INSTAGRAM */
.Picture {
    width: 13.3125rem;
    height: 13.3125rem;
    border-radius: 100%;
    border: 3px solid #BB99DD;
    padding: 5px;
}

.Imagem {
    width: 13.3125rem;
    height: 13.3125rem;
    border-radius: 100%;
}

section > p {
    font-weight: 300;
}


/* LINKS */

.links {
    font-weight: 600;
    font-size: 20px;
    height: 30%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5% ;
}

.links > a {
    text-decoration: none;
    width: 15rem;
    height: 2rem;
    padding: 0.75rem 6.25rem;
    border: 4px solid;
    border-radius: 8px;
    color: #BB99DD;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ICONS */

.Icons {
    width: 25rem;
    height: 3rem;
    border: 1px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
